<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HelloWatch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Notification - HelloWatch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>helloWatch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>09937A971C3D5B1000DBB031</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09937AAB1C3D5B1000DBB031</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09937AB61C3D5B1000DBB031</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09937ACA1C3D5B4100DBB031</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
